body{
    position: relative;
    font-size:16px
}

ol, ul {
  margin: 0;
  padding: 0;
}

.header{
    background: linear-gradient(0deg, #5C84CB, #2E61BA);
}

.content{
    margin-top: 70px
}

.scrollspy-offset{
    padding-top: 70px;
    margin-top: -70px;
}

.horizontal-divide{
    height: 2px;
    background-color: #2E75B6;

}


.content-wrapper{
    padding-top: 22px;
    padding-bottom: 22px;
}

.banner-wrapper{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.banner-content{
    height: 100%;
}

.parallax{
  position: relative;
  bottom: 0;
  left: 0;
  /*z-index: -1;*/
}

.padding-none{
    padding: 0
}

.parent-width{
    width:100%
}
.position-relative{
    position: relative;
}

.sw-logo{
    max-width: 200px
}


ul.reference-list {
    
}
ul.reference-list li{
    background: url('../img/li-reference.png') no-repeat left top;
    padding-left: 25px;
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
}

.reference-list .reference-container{
    width: calc(100% - 145px);
    display: inline-block;
    border-bottom: 1px #767171 dashed;
    margin-right: 8px;
}

.reference-list .reference-img{
    width: 130px;
    vertical-align: bottom;
}
.reference-list .reference-content{
    width: calc(100% - 35px);
    display: inline-block;
}

.reference-list .reference-arrow{
    width: 30px;
    display: inline-block;
    font-size: 45px;
    line-height: 73px;
    color: #767171;
    font-weight: 600;
}