body{
    position: relative;
    font-size: 18px;
    color: #595959;
    font-family:  Calibri, 'Trebuchet MS', sans-serif
}

ol, ul {
  margin: 0;
  padding: 0;
}

p.indent-justify {
    text-indent: 50px;
    text-align: justify;
    margin: 0 0 25spx;
}

.bottom-offset-md{
    margin-bottom:20px
}

.header{
    background: linear-gradient(0deg, #5C84CB, #2E61BA);
    
}

.header-content{
    height: 80px;
}

.header-title{
    line-height: 80px;
    text-align: center;
    font-size: 1.2em;
    color: #595959;

}

.header-contacts-wrapper{
    line-height: 40px;
}
@media (min-width: 1200px) {
    .header-contacts-wrapper{
        line-height: 80px;
    }
}

.header-contact{
    color: #DEEBF7;
    text-align: right;
    font-family:  Calibri, 'Trebuchet MS', sans-serif
}

.header-contact .glyphicon{
    font-size: 18px;
    margin-right: 8px;
}

.header-navbar{
    background-color: #fff;
}

.navbar-custom{
    background-color: #fff;
    border: none;
    box-shadow: 0 0 8px #aaa;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
}
.navbar-custom .navbar-nav > li > a{
    color: #2E61BA;
    font-size: 1em;
    padding: 6px 35px;
}

.navbar-btn{
    float: right;
    font-size: 30px;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #5C84CB !important;
    /*background-color: rgba(0,0,0,0) !important;*/
    color: #ddd;
    outline: none;
}

@media (min-width: 768px){
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .navbar-nav > li{
        box-sizing: border-box;
        width: 20%;
        text-align: center;
    }
}

.content{
    margin-top: 80px
}
.scrollspy-offset{
    padding-top: 80px;
    margin-top: -80px;
}
@media (min-width: 768px){
    .content{
        margin-top: 112px
    }

    .scrollspy-offset{
        padding-top: 112px;
        margin-top: -112px;
    }
 
}

.horizontal-divide{
    height: 4px;
    background-color: #2E75B6;
}
.horizontal-divide-light{
    height: 2px;
    background-color: #5B9BD5;
}



.content-wrapper{
    padding-bottom: 50px;
    /*padding-left: 25px;
    padding-right:25px*/
}

.banner-wrapper{
    height: calc(100vh - 112px - 270px);
    overflow: hidden;
    position: relative;
}
.banner-content{
    height: 100%;
}

.parallax{
  position: relative;
  bottom: 0;
  left: 0;
}

.hw-acceleration{
    -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}

.padding-none{
    padding: 0
}

.parent-width{
    width:100%
}
.position-relative{
    position: relative;
}

.konstrukce-wrapper{
    padding-left: 55px;
    margin-bottom: 12px;
}

.konstrukce{
    border-bottom: 1px #767171 dashed;
    font-size: 1.3em;
    line-height: 1.3em;
    height: 40px;
    
    color: #767171
}

.sluzby-title{
    border-bottom: 1px #767171 dashed;
    color: #767171;
    font-size: 1.3em;
    padding-bottom: 6px;
    margin-right: 15px;
}

.sluzby-title-wrapper{
    padding-left: 25px;
}

.sw-logo-divider{
    height: 20px;
    background-color: #FFE4C4;
    margin-top: 25px;
}

.sw-logo{
    max-width: 200px
}

ul.sluzby-list{
    list-style-type: square;
    list-style-position: outside;
    padding-left: 18px;
    padding-right: 10px;
}

.sluzby-list > li{
    margin-bottom: 10px;
}

@media (min-width: 590px) and (max-width: 992px){
    .col-custom-sm-6 {
        width: 50%;
    }
}

.ref-container{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
    margin-bottom: 30px;
    height: 255px;
    position: relative;
}
.ref-container .reference-img{
    width: 100%;
}

.ref-container .text-content{
    padding: 8px 16px 20px 16px;
    margin-top: 120px;
    height: 130px;
    overflow: hidden;
    background: #fff;
    background: rgba(255,255,255,0.95);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ref-container:hover .text-content{
    margin-top: 0px;
    height: 250px;
}

.ref-container .bottom-mask{
    background: rgba(255,255,255,0.7);
    background: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,1));
    background: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,1));
    background: linear-gradient( rgba(255,255,255,0.2), rgba(255,255,255,1));
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
}

.ref-container-v2{
    padding: 16px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    height: 300px;
    position: relative;
}

.ref-container-v2 .image{
    width: 80%;
    border: 2px solid #ccc;
    position: absolute;
    bottom: 15px;
}


.section-header{
    font-size: 1.9em;
    text-transform: uppercase;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
    font-weight: 600;
}

.home-section-header{
    margin-bottom: 4px;
    font-size: 24px;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
    font-weight: 400;
}

.header-decor{
    margin-top:2px;
    height: 7px;
    width: 75px;
    background-color: #5B9BD5;
    display: block;
}

.map-container{
    height: 350px;
}

.kontakt-form > div{
    margin-bottom: 15px;
}

.kontakt-input{
    width: 100%;
    max-width: 100%;
    padding: 2px 6px;
}